<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Document</title>
<script src="https://klein-git.github.io/airen-xuan/vue.js"></script>
<style>
* {
	margin: 0;
	padding: 0
}
	body{
/*		background:#9A9A9A*/
	}
	#app.{
		width: 80%;
		margin: 0 auto;
/*		background: #FFFFFF*/
	}
.idv {
	padding: 15px;
	border-bottom: #848484 1px solid
}
.span {
	float: right;
	width: 10%;
}
input {
	width: 100%
}
button {
	background: #22BBFF;
	padding: 5px 10px;
	border-radius: 15px;
	color: #FFFFFF
}
	h1{
		text-align: center
	}
</style>
</head>
<body>
<div id="app">
  <com @func="show"></com>
  <div v-for="n in msg" class="idv" @fun="show"><span class="span" v-text="n.name"></span> <span v-text="n.nr"> </span> </div>
</div>
<template id="app2">
  <div>
	  <div><h1>输入将不能删除</h1></div>
    <div>
      <label> 评论人:
        <input type="text"  v-model="name"/>
      </label>
    </div>
    <div>
      <label> 评论内容:
        <input type="text"  v-model="nr" placeholder="请输出你的评论">
      </label>
    </div>
    <button @click="tijiao">发表评论</button>
  </div>
</template>
</body>
<script>
		var com = {
			template:'#app2',
			data(){
				return{
					name:'',
					nr:''
					}
			},
			methods:{
				tijiao(){
					var all = {name:this.name,nr:this.nr}
					var msg = JSON.parse(localStorage.getItem('cmts')||'[]')
					msg.unshift(all)
					localStorage.setItem('cmts',JSON.stringify(msg))
					this.name = this.nr = ''
					this.$emit('func')
				}
			}
		}
	
		var vm = new Vue({
			el:'#app',
			data:{
				msg:[
					
				]
			},
			methods:{
				show(){
					msg = JSON.parse(localStorage.getItem('cmts')||'[]')
					this.msg = msg
					var person = this.person
				},
			},
//			beforeCreate(){
//				var person = prompt('请输入你的名字','杨璇')
//				if(person == '小璇子' || person == '小璇仔' || person == '杨璇'){
//					console('输入正确')	
//				}else{
//					alert('输入错误，将关闭该网页')
//					window.opener = null;
//					window.open('about:blank','_top').close()
//				}
////				
//			},
			created(){
				 this.show()
			},
			components:{
				com
			}
		})
	</script>
</html>